
$primary: rgba(52, 55, 121, 1);
$secondary: rgba(255, 165, 0, 1);

//$body-bg: rgb(231, 135, 126);

@import '~bootstrap/scss/bootstrap.scss';


.my-flix {
    color: $primary;
}
.container{
    width: 100%;
    margin: auto;

}

